# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Node (if you ever add a build system)
node_modules/

# Build artifacts
dist/
out/

# whole TSV datasets
data/opennutrition_foods.tsv
opennutrition_foods.tsv

# VSCode
.vscode/
