#searchBar {
  padding: 6px;
  border: gray solid 2px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

main{
  text-align: center;
}
h1{
  padding-right: 10px;
}

#results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.food-card{
  width: 200px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,1);
  transition: transform 0.15s ease;
}

.food-card:hover{
  transform: scale(1.04);
}

.food-card img{
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.nutrients p{
  margin:4px 0;
  color: #444;
}

footer{
  margin-top: 40px;
  padding: 20px;  
  text-align: center;
  font-size: 14px;
  color: #444;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  opacity: 0.8; /*looks different without opacity */
}

footer a{
  color: #0033cc; /*looks different with inherit property*/
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.modal-close {
  border: none;
  background: transparent;
  font-size: 24px;
  float: right;
  cursor: pointer;
}

#modalNutrients p {
  margin: 4px 0;
}
#modalNutrients hr {
  margin: 8px 0;
}

